<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title%></title>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <!-- COVER SLADER -->
    <div class="container-cover">
       <div class="outer">
           <div class="details">
               <h1 class="title-cover">Mini Store</h1>
               <h2 class='text-contain__cover'>
                   <span>Tu Tienda musical</span> /
                   <span>Mira nuestros productos</span>
              </h2>
          </div>
       </div>
    </div>
    <%- include('./partials/navBar.ejs')%>

    <h1 class="title1">Productos destacados</h1>

    <!-- Cards -->
    <div class="container-cards">
        <div class="card">
            <div class="img"><img src="/img/cards/guitar1.jpg" alt=""></div>
            <h4>Guitarras Electrica.</h4>
            <p>Amet aut quaerat adipisci culpa itaque! Excepturi fugit perferendis hic.</p>
        </div>
        <div class="card">
            <div class="img"><img src="/img/cards/interfaz-audio2.jpg" alt=""></div>
            <h4>Interfaz de audio digital</h4>
            <p>Sit adipisci corrupti rerum ex velit Iste labore pariatur ex</p>
        </div>
        <div class="card">
            <div class="img"><img src="/img/cards/mic1.jpg" alt=""></div>
            <h4>Microfonos shure</h4>
            <p>Amet aut quaerat adipisci culpa itaque! Excepturi fugit perferendis hic.</p>
        </div>
        <div class="card">
            <div class="img"><img src="/img/cards/producer1.jpg" alt=""></div>
            <h4>Equipo de produccion</h4>
            <p>Consectetur aut itaque quis natus rerum quisquam impedit porro Neque</p>
        </div>
        <div class="card">
            <div class="img"><img src="/img/cards/guitar2.jpg" alt=""></div>
            <h4>Amplificadores</h4>
            <p>Amet aut quaerat adipisci culpa itaque! Excepturi fugit perferendis hic.</p>
        </div>
        <div class="card">
            <div class="img"><img src="/img/cards/consola1.jpg" alt=""></div>
            <h4>Consolas analogas</h4>
            <p>Sit adipisci corrupti rerum ex velit Iste labore pariatur ex</p>
        </div>
        <div class="card">
            <div class="img"><img src="/img/cards/corneta1.jpg" alt=""></div>
            <h4>Monitores</h4>
            <p>Amet aut quaerat adipisci culpa itaque! Excepturi fugit perferendis hic.</p>
        </div>
        <div class="card">
            <div class="img"><img src="/img/cards/pedal1.jpg" alt=""></div>
            <h4>procesadores FX</h4>
            <p>Consectetur aut itaque quis natus rerum quisquam impedit porro Neque</p>
        </div>
        <div class="card">
            <div class="img"><img src="/img/cards/guitar1.jpg" alt=""></div>
            <h4>Guitarras Electrica.</h4>
            <p>Amet aut quaerat adipisci culpa itaque! Excepturi fugit perferendis hic.</p>
        </div>
        <div class="card">
            <div class="img"><img src="/img/cards/interfaz-audio2.jpg" alt=""></div>
            <h4>Interfaz de audio digital</h4>
            <p>Sit adipisci corrupti rerum ex velit Iste labore pariatur ex</p>
        </div>
        <div class="card">
            <div class="img"><img src="/img/cards/mic1.jpg" alt=""></div>
            <h4>Microfonos shure</h4>
            <p>Amet aut quaerat adipisci culpa itaque! Excepturi fugit perferendis hic.</p>
        </div>
    </div>
    <h2 class="title2">Principales Marcas</h2>
    <div class="sponsor-flex">
        <div class="container-sponsor" id="sponsor-container">
            <div class="sponsor-item">
                <img src="/img/sponsor/behringer.jpg" alt="">
            </div>
            <div class="sponsor-item">
                <img src="/img/sponsor/fender.jpg" alt="">
            </div>
            <div class="sponsor-item">
                <img src="/img/sponsor/jbl.jpg" alt="">
            </div>
            <div class="sponsor-item">
                <img src="/img/sponsor/m-audio.png" alt="">
            </div>
            <div class="sponsor-item">
                <img src="/img/sponsor/pearl.jpg" alt="">
            </div>
            <div class="sponsor-item">
                <img src="/img/sponsor/shure.jpg" alt="">
            </div>
            <div class="sponsor-item">
                <img src="/img/sponsor/yamaha.jpg" alt="">
            </div>
            <div class="sponsor-item">
                <img src="/img/sponsor/boss.jpg" alt="">
            </div>
            <div class="sponsor-item">
                <img src="/img/sponsor/laney.jpg" alt="">
            </div>
            <div class="sponsor-item">
                <img src="/img/sponsor/marshall.jpg" alt="">
            </div>
            <div class="sponsor-item">
                <img src="/img/sponsor/roland.jpg" alt="">
            </div>
        </div>
    </div>
    <h2 class="title3">Articulos del blog</h2>
    <div class="container-blog">
        <pinture class="card-img__blog1">
            <div class="blur">
                <h3>como ajustar tu guitarra</h3>
                <p>Adipisicing omnis quod culpa nemo Error commodi suscipit asperiores dolore maxime Omnis</p>
            </div>
        </pinture>
        <pinture class="card-img__blog2">
             <div class="blur">
                 <h3>Los mejores compresores fx</h3>
                 <p>Adipisicing at quia nihil obcaecati tempore? Facere porro rerum doloremque deleniti fugiat. Sunt.</p>
             </div>
        </pinture>
        <pinture class="card-img__blog3">
            <div class="blur">
                <h3>El calibre de la cuerda importa?</h3>
                <p>Ipsum praesentium enim laudantium autem ipsum accusamus? Explicabo rerum fugiat temporibus quasi non</p>
            </div>
        </pinture>
    </div>
    <div class="about" id="about">
        <p><span>MiniStore</span>. Somos una tienda de musica especializada en la comercialización de instrumentos musicales. Esta empresa cien por ciento venezolana es líder en el mercado de distribución y ventas de instrumentos musicales de las marcas más reconocidas en el mercado mundial. Profesionalismo, trabajo en equipo, talento y excelencia en el manejo del mercadeo y la comercialización, han hecho que esta organización sea reconocida nacional e internacionalmente.
    </div>

    <div class="container-about">
        <div class="item-img">
        </div>
        <div class="content-text">
            <h3 class="title2">Conoce Nuestro equipo</h3>
            <p>Consectetur itaque harum aliquam laboriosam nulla Veniam lorem enim mollitia obcaecati praesentium, laborum. Quam dolor consequuntur nemo numquam accusantium atque?</p>
            <p>Amet porro suscipit voluptatum tempora qui enim, officia elit Unde magni facere architecto velit porro Blanditiis asperiores at sed consequuntur</p>
        </div>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
<script src="/js/carrusel/index.js"></script>
</html>
