<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= productos%></title>
    <%- include("./partials/head.ejs")%>
  </head>
  <body>
      <%- include("./partials/navBar.ejs")%>
      <aside>
      </aside>

      <h1>Mira nuestros productos</h1>
      <br>
      <p>Sit sunt reprehenderit enim delectus porro facilis nihil debitis hic nisi corrupti omnis. Ducimus culpa iure vero placeat repudiandae, ea. Recusandae rem voluptatem impedit facere nostrum consequatur vel. Temporibus porro</p>
  </body>
</html>
