<footer class="footer">
  <div class="footer-info">
    <div class="footer-post1">
      <ul>
        <li>Preguntas Frecuentes</li>
        <li>Nuestro Blog</li>
        <li>Comentarios de los Usuarios</li>
        <li>Clase Musical</li>
      </ul>
    </div>
    <div class="footer-post1">
      <ul>
        <li>Contactanos</li>
        <li>Servicios</li>
        <li>Politica de privacidad</li>
        <li>Aviso Legal</li>
      </ul>
    </div>
    <div class="payment-rrss">
      <h3>Metodos de pago</h3>
      <div class="payment-icon">
        <img src="/img/payment_icon/american.png" alt="">
        <img src="/img/payment_icon/master.png" alt="">
        <img src="/img/payment_icon/paypal.png" alt="">
        <img src="/img/payment_icon/visa.png" alt="">
      </div>
      <br>
      <hr>
      <h3>Siguenos</h3>
      <div class="follow">
        <a href="https://facebook.com">facebook</a>
        <a href="https://instagram.com">Instagram</a>
        <a href="https://linkedin.com">LinKedin</a>
        <a href="https://youtube.com">YouTube</a>
      </div>
    </div>
  </div>
  <div class="personal-info">
    <p>MiniStore by <span><a href="https://github.com/ldanielcolmenaresm" target="_blank">@daco.dev</a></span> | CopyRight @ 2022 </p>
  </div>
</footer>
