<header class="container-header">
    <div class="logo">
        <a href="/">MiniStore</a>
    </div>
    <div class="nav-container">
        <div class="button-responsive__menu"><i class="fa-solid fa-align-justify"></i></div>
        <nav>
            <ul class='desktop-nav'>
                <li><a class="quesera" href="/">Inicio</a></li>
                <li><a href="/">Productos</a></li>
                <li><a href="/#about">Sobre Nosotros</a></li>
                <li><a href="/contactanos">Contactanos</a></li>
            </ul>
        </nav>
        <div class="signIn">
            <button class="br">Registrate</button>
            <button class="bi"><i class="fa fa-arrow-right-to-bracket"></i>Ingresar</button>
        </div>
    </div>
</header>
