.footer {
    background-color: map-get($colors, "dark1");
    color: #fff;
    width: 100%;
    margin-top: 50px;
    padding: 30px 0;

    .footer-info {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 15px 0;

        li {
            cursor: pointer;
            margin: 10px;
            font-size: map-get($fonts, "normal");
            list-style: none;
            font-weight: 500;
        }

        li:hover {
            transform: map-get($fx, "zoom");
            color: map-get($colors, "warn");
        }
        .payment-rrss {
            h3 {
                margin: 15px;
            }
            .payment-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 45px;
                img {
                    width: 70px;
                    height: 45px;
                    margin-left: 8px;
                }
            }
            .follow {
                a {
                    text-decoration: none;
                    color: map-get($colors, "warn");
                }
                a:hover {
                    color: map-get($colors, "success");
                }
            }
        }
    }

    .personal-info {
        width: 100%;
        text-align: center;
        margin-top: 50px;
        color: #fff;
        span {
            font-weight: bold;
        }
        a {
            color: map-get($colors, "warn");
            text-decoration: none;
        }
        a:hover {
            color: map-get($colors, "success");
        }
    }
}
