$colors: (
    "dark1": #06283d,
    "blue1": #0fa3b1,
    "blue2": #293462,
    "warn": #ff9b42,
    "gray": #dfdbe5,
    "success": #019267,
);

$fonts: (
    "font0": "sans-serif",
    "font1": "Roboto",
    "font2": "Alfa Slab One",
    "normal": 18px,
    "title1": 38px,
    "title2": 32px,
    "title3": 24px,
    "button": 15px,
);

$fx: (
    "zoom": scale(1.05, 1.05),
);
